<div class='row'>
  <div class='col-xs-6'>
    <div class='form-group'>
      <%= form_tag('/input') do %>
      
        <%= label_tag :address, 'Address' %>
        <%= text_field_tag('address'), class: 'form-control' %>

        <%= label_tag :food, 'Enter types of food' %>
        <%= text_field_tag('food'), class: 'form-control' %>

        <%= submit_tag %>

      <% end %>
    </div>
  </div>
</div>