<div class='row'>
  <div class='col-xs-6'>
    <div class='form-group'>
      <%= form_for @food_facility do |f| %>
        <%= f.label :address do %>
          Address:
        <% end %>
        <%= f.text_field :address, class: 'form-control' %>

        <%= f.label :food do %>
          Input Foods:
        <% end %>
        <%= f.text_field :food, class: 'form-control' %>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>